.bodybox {
    margin-left: none;
    margin-right: 10%;
    height: 250px;
    width: 600px;
    align-content: center;
}

.readmoreplusbox {
    background-color: white;
}

.readmorebox {
    height: 100px;
    background-color: white;
}

.margintext{
    margin-left: 5%;
    font-family: 'Baloo 2', cursive;
}

.marginpurplebox{
    margin-left: 20%;
    margin-right: none;
}

.plusbox{
    width: 40%;
    height: 40px;
    font-size: 40px;
    background-color: purple;
    text-align: center;
    margin-left: 55%;
    
}

.readmoreplusbox .plusbox{
    width: 30%;
    font-size: 50px;
    color: white;
    padding: 0px 40px;
    
}

.companyname {
    font-size: 50px;
    font-style: italic;
    color: white;
    text-align: center;
    font-family: 'Satisfy', cursive;
}

.image {
    margin-bottom: -3px;
}

.datetitle{
    background-color: white;
    border-bottom: 1px dashed grey
}

.list-box{
    background-color: purple;
}

.date-box{
    width: 30%;
    font-size: 40px;
    padding: 40px 0px;
    color: white;
    font-family: 'Baloo 2', cursive;
}

.month{
    width: 30%;
    font-size: 16px;
    padding: 40px 0px;
    color: white;
    font-family: 'Baloo 2', cursive;
}

.list-box .desc{
    width: 70%;
    font-size: 16px;
    color: white;
    font-family: 'Baloo 2', cursive;
}

.list-box1{
    background-color: plum;
}

.list-box1 .desc{
    width: 70%;
    font-size: 16px;
    color: white;
    font-family: 'Baloo 2', cursive;
}

.blackfooter{
    background-color: black;
    text-align: center;
}

.footertext {
    color: white;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Baloo 2', cursive;
}