.bodybox {
    margin-left: 10%;
    margin-right: 10%;
    height: 250px;
    width: 600px;
    align-content: center;
}

.readmoreplusbox {
    background-color: white;
    height: 150px;
}

.readmorebox {
    height: 50px;
    background-color: white;
}

.margintext{
    margin-left: 3%;
    font-family: 'Baloo 2', cursive;
}

.marginpurplebox{
    margin-left: 20%;
    margin-right: none;
    margin-top: -10%;
    text-align: left;
    padding-bottom: 5%;
}

.plusbox{
    width: 40px;
    height: 0px;
    font-size: 20px;
    background-color: purple;
    position: relative;
    bottom: 115px;
    left: 480px;
}

.readmoreplusbox .plusbox{
    width: 100px;
    height: 80px;
    font-size: 80px;
    color: white;
    margin-top: 0;
    padding: 35px 10px;
    text-align: center;
}

.companyname {
    font-size: 50px;
    font-style: italic;
    color: white;
    text-align: center;
    font-family: 'Satisfy', cursive;
}

.image {
    margin-bottom: -3px;
}

.datetitle{
    background-color: white;
    border-bottom: 1px dashed grey
}

.list-box{
    background-color: purple;
    height: 90%;
}

.date-box{
    font-size: 50px;
    color: white;
    font-family: 'Baloo 2', cursive;
    margin-left: 10%;
    margin-top: -3%;
}

.month{
    font-size: 20px;
    color: white;
    font-family: 'Baloo 2', cursive;
    margin-left: 10%;
    color: darkblue;
    padding-top: 12%;
    
}

.desc{
    margin-top: -100px;
}

.list-box .desc{
    width: 70%;
    font-size: 20px;
    color: white;
    font-family: 'Baloo 2', cursive;
    padding-left: 8%;
}

.list-box1{
    background-color: plum;
    height: 90%
}

.list-box1 .desc{
    width: 70%;
    font-size: 20px;
    color: white;
    font-family: 'Baloo 2', cursive;
    padding-left: 8%;
}

.blackfooter{
    background-color: black;
    text-align: center;
}

.footertext {
    color: white;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Baloo 2', cursive;
}