html,body {
    margin: 0;
}
.header {
    background-color: #6cb46c;
    font-family: 'Spartan', sans-serif;
    text-align: center;
    padding: 120px
}

.header h1 {
    margin: 0;
    color: white;
}

.link {
    font-family: 'Spartan', sans-serif;
    text-align: center;
}

.link a {
    margin: 0;
    color: white;
    font-size: 15px;
    background-color:#6cb46c;
    padding: 10px;
    border-radius: 3px;
}

.footer {
    background: rgb(223, 219, 223);
    font-family: 'Spartan', sans-serif;
    text-align: center;
    padding: 40px
}

.footer p {
    margin: 5px;
    color: grey;
}

.email {
    border: 1px solid white;
    margin: 125px;
}

.italic {
    font-style: italic;
}

.boldtext {
    font-weight: bold;
}

.bodytext {
    margin: 30px;
    font-family: 'Roboto', sans-serif;
}