.form {
    height: 540px;
    width: 50%;
    margin-left: 20%;
    margin-top: 20%;
    background-color: darkslategrey;
    padding: 30px;
    padding-top: 60px;
    font-family: 'Ubuntu', sans-serif;
}

.connectinline {
    display: inline;
    font-size: 0px;
}

.connectwithfacebook a {
    color: white;
    font-size: 18px;
    background-color: darkblue;
    padding: 10px;
    padding-right: 70px;
    padding-left: 100px;
    text-decoration: none;
}

.connectwithtwitter a {
    color: white;
    font-size: 18px;
    background-color: lightblue;
    padding: 10px;
    padding-right: 70px;
    padding-left: 110px;
    text-decoration: none;
}

.center {
    text-align: center;
    color: white;
    align-content: center;
}


input[type=text1] {
    height: 40px;
    width: 345px;
    border-left: 5px solid green;
    font-size: 15px;
}

input[type=text2] {
    height: 40px;
    width: 345px;
    font-size: 15px;
}

input {
    height: 40px;
    width: 700px;
    font-size: 15px;;
}

.createaccount {
    color: white;
    font-size: 20px;
    background-color: green;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    width:95%;
    margin-left: 0%;
    text-decoration: none;
}

.remuline {
    text-decoration: none;
}

.leftalign {
    text-align: left;
}

